html{
    font-size: 10px;
}
body{
    font-family: 'Roboto', sans-serif;
    padding: 5rem;
}
#origin-div{
    width: 90%;
    margin:auto;
    text-align: left;
}
hr{
    border: whitesmoke 0.01rem solid;
    clear:both
}
.btn{
    text-transform: capitalize;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 0.1rem;
    border: 0;
    overflow: hidden;
    margin-left: 1rem;
    width: 18%;
    vertical-align: middle;
    text-align: center;
    display:table-cell;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
}
.social-mob{
    display: none;
}
#p-top{
color: gray;
    font-size: 1.6rem;
}
h1{
    font-size: 10rem;
    font-weight: 900;
    text-transform: capitalize;
}
#post-img{
    display:block;
    width: 100%;
    margin:auto;
    padding-bottom: 3rem;

}
 #table1 td{
    padding: 0.3rem 3rem;
}
td span {
    font-size: 1.4rem;
    color: #616161;
}
#table1 td img {
    width: 2rem;
    padding: 1rem;
    vertical-align: middle;
}
.tbl1mob{
    display:none;
}
#summery{
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 3rem;
    color: #616161;

}
p{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 160%;
    color: dimgray;
}
#tag{
   width: 4rem;
    vertical-align: middle;
    padding: 2rem;
}
.icon{
    vertical-align: middle;
    width: 4rem;
    padding: 0.5rem;
    /*float:left*/
}
#writermob{
    display: none;
}
#writer-img{
    width: 10%;
    height: 10%;
    filter: grayscale(60%);
    border-radius:100%;
    margin: 6rem 10rem -1rem 10rem;
    /*vertical-align: middle;*/
    /*background: #ED212C;*/
}
#writer-about{
font-size: 1.8rem;
    width: 50%;
    display: inline-block;
    color: #616161;
    font-weight: 500;
}
#writer-about h2{
    font-size: 2.4rem;
    font-weight: bolder;
    text-transform: capitalize;
}
#next{
    width: 40%;
    float: right;
    display: block;
    text-align: right;
    vertical-align: middle;
}
#previous {
    width: 40%;
    float: left;
    vertical-align: middle;
}
span{
    font-size: 1.8rem;
    color: #616161;
}
#comment p{
    font-weight:600;
    font-size:1.4rem;
}
#box-comment{
    background-color:lightgray;
    border:0.01rem solid darkgray;
    /*width: 70vw;*/
    height: 10vw;
    /*display: block;*/
    text-align: left;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 4rem;
        font-weight: 900;
        text-transform: capitalize;
    }

    .icon {
        width: 8rem;
        padding: 0.8rem;
        vertical-align: middle;
    }

    #table1 {
        display: none;
    }

    .tbl1mob {
        display: inline;
    }

    .tbl1mob td {
        padding: 0.3rem 3rem;
    }

    .tbl1mob td img {
        width: 2rem;
        padding: 1rem;
        vertical-align: middle;
    }

    table td span {
        font-size: 1.4rem;
        color: #616161;
    }

    .social-mob {
        display: inline;
    }

    .social-web {
        display: none;
    }

    .btn-mob {
        text-transform: capitalize;
        color: #fff;
        font-size: 1.9rem;
        font-weight: 500;
        border-radius: 5%;
        border: 0;
        overflow: hidden;
        margin-left: 2rem;
        width: 15rem;
        height: 15rem;
        vertical-align: middle;
        text-align: center;
        display: table-cell;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0.6rem;
    }

    #writer {
        display: none;
    }

    #writermob {
        display: block;
        width: 90%;
        font-size: 1.8rem;
        /*display: inline-block;*/
        color: #616161;
        font-weight: 500;
        text-align: center;
        padding-bottom: 4rem;
    }

    #writermob img{
        width: 35%;
        height: 35%;
        border-radius: 100%;
        /*vertical-align: central;*/
        filter: grayscale(60%);
        margin: auto;
        margin-top: 3rem;

    }
    #writermob h2 {
        font-size: 2.4rem;
        font-weight: bolder;
        text-transform: capitalize;
    }
}

